form {
  margin-left:10%;
  max-width:20% ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

#fieldset-cliente {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  margin-bottom: 20px;
}

#cpf {
  max-width: 60%;
}

#fieldset-endereco {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  max-width: 50%;
}

#cep{
  max-width: 60%;
}


#uf{
  max-width: 20%;

}
#div-complemento{
  display: flex;
  gap: 10px;
}

#div-cep,#div-logradouro,#div-numero,#div-complemento-container,#div-bairro{
  display: flex;
  flex-direction: column;
  gap: 10px;
  }

  #div-complemento-container{
    gap: 10px;
  }

#div-numero{
 max-width: 30%;
}

#complemento{
  width: 100%;
}

#inens{
 display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  max-width: 50%;

}


#quantidade{
  max-width: 30%;
}
#preco{
  max-width: 30%;
}
#form-produto{
  max-width: 70%;
}
#quantidade-container,#produto-container,#preco-container{
  display: flex;
  flex-direction:column ;
}

#fieldsetprodutos{
display: flex;
padding: 20px;
gap: 20px;
max-width: 50%;

}

#btn-produto,#adicionar{
  font-family: 'Times New Roman', Times, serif;
}